
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Michroma", sans-serif;
  height: 100vh;
}

.loading{
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #927331, #946429, #f7eeb3);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #927331;
}

#svg {
  height: 150px;
  width: 150px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}

.share {
  position: fixed;
  bottom: 20px; /* Adjust position as needed */
  left: 20px; /* Adjust position as needed */
  z-index: 1000; /* Ensure it's on top of other elements */
}
.share label {
  display: block;
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  font-size: 36px; /* Adjust size as needed */
  text-align: center;
  line-height: 50px; /* Adjust size as needed */
  background-color: linear-gradient(135deg, #927331, #946429, #f7eeb3);
  border: 1px solid #cccccc; /* Adjust border as needed */
  border-radius: 50%; /* Makes the label circular */
  cursor: pointer;
}
.share label i {
  width: 100%; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  text-align: center;
  justify-content: center;
}
.share {
  position: fixed;
  bottom: 20px; /* Adjust position as needed */
  left: 20px; /* Adjust position as needed */
  z-index: 1000; /* Ensure it's on top of other elements */
}

.share label img {
  width: 50px; /* Adjust size as needed */
  height: auto;
}